global
    log stdout format raw local0

defaults
    mode http
    log global

    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http
    bind :80
    http-request redirect scheme https code 301

frontend https
    bind :443 ssl crt /var/lib/acme/homelab.pushrax.com/full.pem alpn h2,http/1.1
    bind quic4@:443 ssl crt /var/lib/acme/homelab.pushrax.com/full.pem alpn h3

    use_backend pihole if { req.hdr(host) -i pihole.pushrax.com }

backend pihole
    server pihole1 127.0.0.1:8001 check
